name: master

on:
  push:
    branches:
      - master

jobs:

  build:
 
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Go 1.13
        uses: actions/setup-go@v1.1.2
        with:
          go-version: '1.13.x'
      - name: Lint
        uses: actions-contrib/golangci-lint@master
        with:
          args: run
      - name: Build project # This would actually build your project, using zip for an example artifact
        run: |
          make